{% extends "base.html" %}
{% block head %}
    {{ super() }}
    {% include "map_head.html" %}
{% endblock %}

{% block content %}
    {% include "map_include.html" %}
    <script>
        const tokenurl = window.location.origin+'/mapboxtoken'
        fetch(tokenurl)
            .then(response => response.json())
            .then(data => {
                mapboxgl.accessToken = data.token;
                initMap([-106.5, 34.5], 6, '/api/v1/wells?f=geojson');
            });

    </script>

{% endblock %}





{##}
{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<head>#}
{#    <meta charset="utf-8">#}
{#    <title>Display a map on a webpage</title>#}
{#    <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no">#}
{#    <link href="https://api.mapbox.com/mapbox-gl-js/v2.14.1/mapbox-gl.css" rel="stylesheet">#}
{#    <script src="https://api.mapbox.com/mapbox-gl-js/v2.14.1/mapbox-gl.js"></script>#}
{#    <style>#}
{#        body { margin: 0; padding: 0; }#}
{#        #map { position: absolute; top: 0; bottom: 0; width: 100%; }#}
{#    </style>#}
{#</head>#}

