<link href="https://api.mapbox.com/mapbox-gl-js/v2.14.1/mapbox-gl.css" rel="stylesheet">
<script src="https://api.mapbox.com/mapbox-gl-js/v2.14.1/mapbox-gl.js"></script>
<script src="/static/js/map.js"></script>
<script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.0/mapbox-gl-geocoder.min.js"></script>
<link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.0/mapbox-gl-geocoder.css" type="text/css">
<style>
    #menu {
        position: absolute;
        left: 0;
        top: 60px;
        z-index: 9;
        border: black 1px solid;
        border-radius: 7px;
        background: antiquewhite;
        width: 20%;
        margin: 5px;
        padding: 5px;}
    #geocoder-container {
        position: absolute;
        left: 0;
        z-index: 9;
        margin: 5px;
        padding: 5px;
    }
    #mapcontainer {position: relative; height: 80vh;
        padding-top: 10px;}
    #map {
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 1;
    }
</style>