<div id="mapcontainer">
    <div id="geocoder-container"></div>
    <div id="map"></div>
    <div id="menu">
        <div>
            <input id="satellite-streets-v12" type="radio" name="rtoggle" value="satellite" checked="checked">
            <!-- See a list of Mapbox-hosted public styles at -->
            <!-- https://docs.mapbox.com/api/maps/styles/#mapbox-styles -->
            <label for="satellite-streets-v12">satellite streets</label>
        </div>
        <div>
            <input id="light-v11" type="radio" name="rtoggle" value="light">
            <label for="light-v11">light</label>
        </div>
        <div>
            <input id="dark-v11" type="radio" name="rtoggle" value="dark">
            <label for="dark-v11">dark</label>
        </div>
        <div>
            <input id="streets-v12" type="radio" name="rtoggle" value="streets">
            <label for="streets-v12">streets</label>
        </div>
        <div>
            <input id="outdoors-v12" type="radio" name="rtoggle" value="outdoors">
            <label for="outdoors-v12">outdoors</label>
        </div>
        <div>
            <input id="show_macrostrat" type="checkbox" checked="checked">
            <label for="show_macrostrat">Surface geology via Macrostrat</label>
        </div>
    </div>
</div>